body { height:auto; }
.gauges { max-width:1000px; margin:2% auto; opacity:1; overflow:hidden; }
	.gauges>div{ margin:0 0.5% 0; width:24%; float:left; position:relative; overflow:hidden; display:none;} /*for responsive gauges this width must be defined in percentage. original size is 240px*/
	.gaugesnav>div { margin:0% 15.5% 2%; width:70%; }
	/*circular gauges*/
		.gauges h2 { text-align:center; clear:both; width:100%; position:absolute; bottom:8.5%; }
		.gaugeCircular img { float:left; margin:0; width:100%; }
		.gaugeCircular svg { left:0; top:0; position:absolute; width:100%; height:67.5%; }
		.BatteryVoltage svg { height:100%; }
		.BatteryVoltage p { position:absolute; left:50%; top:50%; width:30%; text-align:center; font-size:2.2em; font-style:italic; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6); }
		.Speed img { margin-left:1.5%; width:75.84%; }
		.Speed svg { left:12.3%; top:8.3%; width:50%; height:63.33%; }
		.Speed span { position:absolute; left:0; top:42%; width:96%; text-align:center; font-style:italic; font-weight:bold; font-size:5.5em; text-shadow:1px 1px rgba(255,255,255,0.6);	}
	/*vertical gauges*/
		.gaugeVertical img { float:left; margin:20% 0 0 26%; width:36.25%; }
		.gaugeVertical span.mask { background:url(../images/gauges_verticalHighlight.png) left bottom no-repeat; background-size:100% auto; display:block; position:absolute; right:38.2%; bottom:30%; width:19.584%; height:auto;}
		.FluidLevel img { width:42.084%; margin:12% 0 0 18%; }
		.FluidLevel span.mask { background-image:url(../images/gauges_FluidLevelHighlight.png); width:21.25%; height:0; bottom:30.7%; right:40.3%; }
		span.attention {
			 filter: 				hue-rotate(300deg) saturate(30);
			 -webkit-filter:hue-rotate(300deg) saturate(30);
			 -moz-filter: 	hue-rotate(300deg) saturate(30);
			 -ms-filter: 		hue-rotate(300deg) saturate(30);
			 -o-filter: 		hue-rotate(300deg) saturate(30);
		}
	/*merged gauges*/
		.gaugeMerged>div { width:100%; height:100%; position:absolute; left:22.5%; }
		.gaugeMerged>div:first-child { left:-22.5%; }
		.gaugesnav .gaugeMerged { margin-top:-10%; margin-bottom:10%; }
	/*square gauges*/
		.gaugeSquare>div { overflow:hidden; float:hidden; }
		.DoorStatus>div { width:52.5%; height:52.5%; margin:14% auto 0; }
		.Tires>div { width:58.34%; height:58.34%; margin:11% auto 0; }
			.gaugeSquare span { float:left; width:50%; box-sizing:border-box; height:50%; background-size:200% 400%; }
			.DoorStatus span { background-image:url(../images/gauges_DoorStatus.png); }
			.Tires span { padding:17% 8% 0 5%; background-image:url(../images/gauges_Tires.png); color:#fff; }
			.Tires span.open { color:#000; }
				.Tires em { font-size:2em; font-style:normal; display:block; }
			span.left_front 	{ background-position:left top;  }
			span.right_front { background-position:right top; text-align:right; }
			span.left_back 	{ background-position:left  -100%; clear:left; }
			span.right_back  { background-position:right -100%; text-align:right; }
			span.left_front.open  { background-position:left -200%}
			span.right_front.open { background-position:right -200%}
			span.left_back.open 	 { background-position:left  -300%}
			span.right_back.open  { background-position:right -300%}
	/*odometer*/
		.Odometer div { width:57.5%; height:10.417%; background:url(../images/gauges_Odometer.png); background-size:100% 100%; margin:37% auto 0; }
			.Odometer span { font-size:1.8em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.4); float:left; width:12.5%; margin:0; text-align:right; }
			.Odometer div span:first-child, .Odometer div span:last-child { width:15.5%; }
	/*outside temp*/
		.OutsideTemp span { display:block; width:59.17%; height:32%; padding:27.17% 0 0; margin:12% auto 0; background:url(../images/gauges_OutsideTemp.png); background-size:100% 100%; text-align:center; font-size:3em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6);	}
	/*intake temp*/
		.IntakeTemp span { display:block; width:59.17%; height:32%; padding:27.17% 0 0; margin:12% auto 0; background:url(../images/gauges_OutsideTemp.png); background-size:100% 100%; text-align:center; font-size:3em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6);	}	
	/*catalyst temp*/
		.CatalystTemp span { display:block; width:59.17%; height:32%; padding:27.17% 0 0; margin:12% auto 0; background:url(../images/gauges_OutsideTemp.png); background-size:100% 100%; text-align:center; font-size:3em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6);	}
	/*gear*/
		.Gear span { display:block; position:absolute; width:26.25%; height:26.25%; background:left top; background-size:100%; }
		.Gear span.GearActive { width:75%; height:25%; padding:32.5% 0 0; left:11.5%; top:8.3%; background:url(../images/gauges_Gear.png); background-position:left bottom; background-size:100%; text-align:center; font-size:3em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6);	}
		.Gear span.Gear1 { left:12.3%; top:41.3%; background-image:url(../images/gauges_Gear1.png); }
		.Gear span.Gear2 { left:12.5%; top:18.3%; background-image:url(../images/gauges_Gear2.png); }
		.Gear span.Gear3 { left:24%; top:9%; background-image:url(../images/gauges_Gear3.png); }
		.Gear span.Gear4 { left:43%; top:8.3%; background-image:url(../images/gauges_Gear4.png); }
		.Gear span.Gear5 { left:56.3%; top:12.5%; background-image:url(../images/gauges_Gear5.png); }
		.Gear span.GearR { left:67%; top:30.3%; background-image:url(../images/gauges_GearR.png); }
	/*auto gear*/
		.AutoGear span { display:block; position:absolute; width:35%; height:35%; background:left top; background-size:100%; }
		.AutoGear span.AutoGearActive { width:70%; height:25%; padding:35% 0 0 7.5%; left:11.5%; top:8.3%; background:url(../images/gauges_AutoGear.png); background-position:left bottom; background-size:100%; text-align:center; font-size:3em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6);	}
		.AutoGear span.AutoGearP { left:11.2%; top:32.5%; background-image:url(../images/gauges_AutoGearP.png); }
		.AutoGear span.AutoGearR { left:15.7%; top:10.5%; background-image:url(../images/gauges_AutoGearR.png); }
		.AutoGear span.AutoGearN { left:41%; top:8.5%; background-image:url(../images/gauges_AutoGearN.png); }
		.AutoGear span.AutoGearD { left:60.3%%; top:15%; background-image:url(../images/gauges_AutoGearD.png); }
	/*gps heading*/
	.GPSHeading { background:url(../images/gauges_GPSHeading.png) center top no-repeat; background-size:77.5% 77.5%; }
		.GPSHeadingPin { background:url(../images/gauges_GPSHeadingPin.png); background-size:100%; width:42.5%; height:42.5%; left:29%; top:18%; position:absolute; display:block; }
		.GPSHeadingLetter { position:absolute; display:block; width:25%; height:10%; left:37.5%; top:34%; text-align:center; font-size:2em; font-weight:bold; text-shadow:1px 1px rgba(255,255,255,0.6);	}