/************************** ----- Navigation ----- ***************************/

/* containers */

html, body, #wrap { width:100%; background:transparent !important; height:100%;/* min-height:800px; */}
#wrap{float:left; background:transparent; 	 position:relative; }

#wrap header h2{  
	color: #000;
    font-family: helveticaneuecon;
    font-size: 36px;
   	font-weight: normal;
    padding: 14px 0;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;
	}
#mapcontr{ 
	width:100%;
	 float:left;
	 height:100%;
	 color:#fff;
	 background:transparent;
}
#dashbrdcontr{
	right:0;
	position:fixed;
	width:80%;
	color:#000;
	height:100%;
	border:2px solid #999; 
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	border-radius: 15px;
}
.dashbrd{
	margin:1% 17% 7% 17%;
	clear:both;
}

.topheading{
	position:fixed;
	top:0;
	left:0;
	z-index:99999999999;
	width:36%;
	color:#ffd500;
	background: top left no-repeat, #000;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 64%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(64%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 100%); /* IE10+ */
	background:linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.topheading>div{width:21%;float:left;padding:1% 8% 0 1%;	}
.topheading h2{
	font-size:3.2em;
	font-family: helveticaneuecon;
	color:#ffd500;
	margin:5% 0;
}

.fullscreenbtn{
	color: #ffd500;
	background: rgb(104,104,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(104,104,103,1) 0%, rgba(64,64,63,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,104,103,1)), color-stop(100%,rgba(64,64,63,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(104,104,103,1) 0%,rgba(64,64,63,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(104,104,103,1) 0%,rgba(64,64,63,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(104,104,103,1) 0%,rgba(64,64,63,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(104,104,103,1) 0%,rgba(64,64,63,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686867', endColorstr='#40403f',GradientType=0 ); /* IE6-9 */
	padding: 4%;
	border-radius: 17% 0 0 17%;
	position: absolute;
	left: -23%;
	bottom: 20px;
	width: 15%;
	z-index: 1999999; 

}

.notification{  margin-right: 2%;
    width: 100%;}
.notification img{margin-right:2%;}
.notiicon {
    float: right;
    height: 56%;
    width: 100%;}
.notiicon li{   
	float: right;
    width: 15%
	}
	@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
	@keyframes fade {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
	@-webkit-keyframes blink {
	 
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
	@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#carntoconnect, #busntoconnect{
	animation: fade 4s;
	-webkit-animation: fade 4s;
    -webkit-animation-iteration-count: infinite;
	 animation-iteration-count: infinite;
	}
#carerror, #buserror{
	animation: blink 1s;
	-webkit-animation: blink 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
	}
/************************** ----- MEDIA QUERY start here ----- ***************************/
@media screen and (max-width: 768px) {
	.topheading h2{
	font-size:1em;}
}
/************************** ----- MEDIA QUERY max-width: 768px end here ----- ***************************/
@media screen and (max-width: 980px) {
	.topheading h2{
	font-size:1em;}
}
/************************** ----- MEDIA QUERY max-width: 980px end here ----- ***************************/
@media screen and (max-width: 1024px) {
	.topheading h2{
	font-size:2em;}
}
/************************** ----- MEDIA QUERY max-width: 1024px end here ----- ***************************/
@media screen and (max-width: 1224px) {
	.topheading h2{
	font-size:3em;}
	
}
/************************** ----- MEDIA QUERY max-width: 1224px end here ----- ***************************/
@media screen and (max-width: 1130px) {
	.topheading h2{
	font-size:2em;
	}
	
}
/*Comented for future use*/
/************************** ----- MEDIA QUERY for height ----- ***************************/
/*@media screen and (max-height: 750px) {
#dashbrdcontr{width:20%;}
}
@media screen and (max-height: 600px) {
#dashbrdcontr{width:18%;}
}
@media screen and (max-height: 550px) {
#dashbrdcontr{width:16%;}
}
@media screen and (max-height: 500px) {
#dashbrdcontr{width:14%;}
}
@media screen and (max-height: 400px) {
#dashbrdcontr{width:12%;}
}*/
/************************** ----- MEDIA QUERY end here ----- ***************************/