@charset "UTF-8";
/* ------- Reset styles ------- */
html,body	{ margin:0; padding:0; font-size:84%;background:rgba(0,0,0,1);width:100%;height:100%; min-width:768px;}
html,body,
p,ul,ol,li,
td,th,dl,dt,
blockquote,
h1,h2,h3,h4,h5	{color:#000; font-family:helveticaneuecon;list-style: none;margin: 0}
p,li,dd,dt,th,td,
blockquote, pre, code, xmp,
pre, code, xmp {margin:0; font-size:1.2em;}
* html pre {margin:0; font-size:1em;}
* html code {margin:0; font-size:1em;}
* html xmp {margin:0; font-size:1em;}
p {margin:0; padding:.5em 0 .5em 0; line-height:1.25em;}
ul, ol, li {margin-top:.5em; margin-bottom:.5em; padding-right:1em; line-height:1.25em;}
dl	{margin-top:0; margin-bottom:0;}
dt {margin:.5em 1em .3em 0; line-height:1.25em; font-weight:bold;}
dd {margin:0 1em .5em 2em; line-height:1.25em;}
a, a:hover, a img:hover{text-decoration: none;color: #000; border:0px; }
a img{border:0px;}


/************************** ----- Common CSS classes ----- ***************************/
 /* font */
@font-face {
	font-family: 'HelveticaNeue';
	src: url('fonts/HelveticaNeueLTStd-Bd.eot');
	src: local('?'), url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecon';
	src: url('fonts/HelveticaNeueLTStd-Bd.eot');
	src: local('?'), url('../fonts/helvetica-neue-condensed.woff') format('woff'), url('../fonts/helvetica-neue-condensed.ttf') format('truetype'), url('../fonts/helvetica-neue-condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

select {
		border: 0 !important;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		background: #fff url(../images/select-arrow.png) no-repeat 100% center;
		width: 100px; /*Width of select dropdown to give space for arrow image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #000;
		border-radius: 15px;
		padding: 5px;
		box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
		*-webkit-border-radius:4px;
   		 -moz-border-radius:4px;
   		 border-radius:4px;
   		font-family: helveticaneuecon;
   		font-size: 1.7em;
}
/* --Default button-- */
.button{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
    border-radius: 5px;
    border-top: 1px solid #fff;
	border:none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    color: #000000;
    font-family: helveticaneuecon;
    font-size: 20px;
   	font-weight: normal;
    padding: 8px;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;
	padding: 6% 28%;
	}
.button:hover{
	background: -moz-linear-gradient(center top ,  #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, center top,color-stop(61%,#f8c410), color-stop(100%,#f8c410)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8c410 61%, #f8c410 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8c410 61%, #f8c410 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8c410 61%, #f8c410 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8c410 61%, #f8c410 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c410', endColorstr='#f8c410',GradientType=0 ); /* IE6-8 */
	
	}
.button-small{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
    border-radius: 5px;
    border-top: 1px solid #fff;
	border:none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    color: #000000;
    font-family: helveticaneuecon;
   	font-weight: normal;
    padding: 6px 22px;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;
	}
.button-small:hover{
	background: -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0),  -moz-linear-gradient(center top ,  rgba(255, 255, 255, 0.01) 88%, rgba(255, 255, 255, 0.4) 0%) repeat scroll 0 0%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
    border-radius: 5px;
    border-top: 1px solid #fff;
	border:none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    color: #000000;
    font-family: helveticaneuecon;
   	font-weight: normal;
    padding: 6px 22px;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;
	}
.button-large{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
    border-radius: 5px;
    border-top: 1px solid #fff;
	border:none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    color: #000000;
    font-family: helveticaneuecon;
   	font-weight: normal;
    padding: 5px 11px;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;
    font-size: 1.4em;
	}
.button-large:hover{
	background: -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0),  -moz-linear-gradient(center top ,  rgba(255, 255, 255, 0.01) 88%, rgba(255, 255, 255, 0.4) 0%) repeat scroll 0 0%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
    border-radius: 5px;
    border-top: 1px solid #fff;
	border:none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    color: #000000;
    font-family: helveticaneuecon;
   	font-weight: normal;
    padding: 5px 11px;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;
      font-size: 1.4em;
	}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
h2{
	color: #fad105;
	font-size: 1.7em;
}
h3{
	color: #ffffff;
	font-size: 1.7em;
	font-weight: normal;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	float: left;
}
.col-1{
	width: 8.3%;
}
.col-2{
	width: 16.6%;
}
.col-3{
	width: 24.9%;
}
.col-4{
	width: 33.2%;
}
.col-5{
	width: 41.5%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.1%;
}
.col-8{
	width: 66.4%;
}
.col-9{
	width: 74.7%;
}
.col-10{
	width: 83%;
}
.col-11{
	width: 91.3%;
}
.col-12{
	width: 100%;
}
.containerBox{
	padding: 0% 5%;
}
.inner-containerBox{
	padding: 0% 5%;
}
/************************** ----- Common CSS classes ----- ***************************/

/************************** ----- MAIN ----- ***************************/

#maincntr { width:100%; float:left; height:100%; min-width:768px;}
#maincntr header{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
    border-top: 1px solid #fff;
    box-shadow: 0 -26px 32px 7px #e1b10a inset;
    color: #000000;
    font-family:helveticaneuecon;
    font-size: 15px;
    height: 72px;
    text-decoration: none;
    vertical-align: middle;
		min-width:768px;
	}
#maincntr header h2{  
	color: #000;
    font-family: helveticaneuecon;
    font-size: 36px;
   	font-weight: normal;
    padding: 14px 0;
    text-align: center;
    text-shadow: 1px 2px 1px #ffe87a;

	}
#maincntr header .setingiimg{ 
	padding: 1% 2%;
	top: 1%;
	right: 0%;
	position: absolute;
	}

/* --mediapage-- */
#maincntr #innerwrap { width:100%; float:left; background:#000;}
#maincntr #innerwrap #cntricons {margin:4% auto;width:80%;}
.column1{width: 16%;float:left;}
.margin-left27{margin-left:27%;}
.margin-righ10{margin-right:12%;}
.margin-top5{margin-top:50px;}
.last-child { float:left;margin-right:0px; margin-top:54px;}
#maincntr #innerwrap #cntricons div a{height:auto;float:left;width:100%;}
#maincntr #innerwrap #cntricons div h6{ 
	clear:both;
	color: #d8f3f9;
	font-family: helveticaneuecon;
	font-size: 2em;
	margin:0; 
	padding:10px 0 0;
	text-align:center;
	}

/* --icons-- */
#maincntr #innerwrap #cntricons .pando{ background:url(../images/pandora.png) no-repeat;}
#maincntr #innerwrap #cntricons .cardoc{ background:url(../images/car_doctor.png) no-repeat;}
#maincntr #innerwrap #cntricons .slacker{ background:url(../images/slacker.png) no-repeat;}
#maincntr #innerwrap #cntricons .tunein{ background:url(../images/tunein.png) no-repeat;}
#maincntr #innerwrap #cntricons .iheart{ background:url(../images/iheart.png) no-repeat;}
#maincntr #innerwrap #cntricons .map{ background:url(../images/map.png) no-repeat; }
#maincntr #innerwrap #cntricons .posi{ position:relative;}
#maincntr #innerwrap #cntricons  .notif {
	position: absolute;
	top: -28px;
	right: -13px;
	padding: 2px;
	color: #fff;
	z-index:1
	}
#maincntr #innerwrap #cntricons  .notif h5{
	z-index: 2;
	text-align: center;
	position: relative;
	top: -68px;
	font-size: 29px;
	padding: 14px 0px;
	color: #fff;
	} 



/************************** ----- LOG BOOK start here ----- ***************************/

.blackBox{
	background: #2a2a2a;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #5f5f47;
	padding: 0;
	margin: 15px 0 0 0;
}
.log-blackBox{
	background: #2a2a2a;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #5f5f47;
	padding: 0;
	margin: 15px 0 0 0;
	width: 100%;
	display: table;
	height: 100px;
}
.log-blackBox aside{
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
}
.log-blackBox .col-1,
.log-blackBox .col-2,
.log-blackBox .col-3,
.log-blackBox .col-4,
.log-blackBox .col-5,
.log-blackBox .col-6,
.log-blackBox .col-7,
.log-blackBox .col-8,
.log-blackBox .col-9,
.log-blackBox .col-10,
.log-blackBox .col-11,
.log-blackBox .col-12{
	float: none;
}
.center{
	text-align: center;
}
.yellowbox{
	background: #fbd206;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	padding: 10px;
	text-align: center;
	font-size:14px;
}

.chooseInfo{
	padding: 20px 20px;
	display: table;
	width: 100%;
}
.chooseInfo .text-box-container{
	padding: 0 20px;
}
.chooseInfo .text-box-container select{
	width: 100%;
}
.chooseInfo h2{
	text-align: right;
}
 
.chooseInfo .col-1,
.chooseInfo .col-2,
.chooseInfo .col-9{
	float: none;
	display: table-cell;
	vertical-align: middle;
} 
.progress-conatiner{
	position: relative;
}
.progress-conatiner .slider{
	left: 10px;
  position: absolute;
  top: 35px;
  width: 381px;
  display: none;
}
.percentage{
	left: -43px;
    position: absolute;
    top: 33px;
}
.percentage-txt{
	left: -43px;
    position: absolute;
    text-align: center;
    top: 33px;
    width: 33px;
    font-family: helveticaneuecon;
    font-size: 1.3em;
    display: none;
}
.SaveInfo{
	display: none;
}
.tire-column .col-1{
	display: table;
	min-width: 92px;
    width: auto;
    float: left;
}
.tire-column .tire-label,
.tire-column .tire-indicator{
	font-family: helveticaneuecon;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	display: table-cell;	
	text-align: center;
}
.tire-column .tire-label{
	padding:0 20px 0 20px;
	vertical-align: middle;
}
.tire-column .tire-indicator{
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: #1fa709;
	padding: 6px 15px;
	display: block;
}
.tire-column .tire-selector{
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: #1fa709;
	display: block;
	margin: 5px 0;
	width: 30px;
	text-align: center;
	padding: 6px 0;
	color: #fff;
	font-family: helveticaneuecon;
	border: 2px solid #5f5f47;	
	cursor: pointer;
}
.tire-column .tire-selector.selected{
	border: 2px solid #fff;
}

.tire-column .tire-green{
	background: #1fa709;
}
.tire-column .tire-red{
	background: #e02119;
}
.tire-column .tire-yellow{
	background: #ffca2e;
}
.tire-indicator-box{
	display: none;
}
.SaveInfoTire{
	display: none;
}

.overlay-popup{
	position: absolute;
	top: 0px;
	left: 0px;
	border: 5px solid #8b8b8b;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #656565;
	padding: 10px;
	width: 50%;
	display: none;
}
.remove-apps,
.remove-logbook{
	width: 40%;
}
.alert-popup{
	width: 31%;
}
.remove-apps ul li label,
.remove-logbook ul li label{
	line-height: 1.2em;
}
.overlay-popup ul{
	padding: 0px;
	margin: 0px;
}
.overlay-popup ul li{
	padding: 0 0;
}
.overlay-popup ul li label{
	color: #fad105;
    font-size: 1.7em;
    font-family: helveticaneuecon;
    display: block;
    padding: 10px 0 7px 0;
}
.overlay-popup ul li input[type='text'] ,
.overlay-popup ul li textarea{
	width: 98%;
	font-size: 1.7em;
	color: #000;
	border: none;
	padding: 5px;
	font-family: helveticaneuecon;
}
.oilchange-popup select {
    width: 100%;
}
.overlay{
	background: #000;
	opacity: 0.8;
	position: absolute;
	display: none;
}
.addAppFun{
	cursor:pointer;
}
.addapps-popup{
	padding: 0px;
}
.addapps-popup ul{
	padding: 0px;
	margin: 0px;
}
.addapps-popup ul li{
	display: table;
	width: 97%;
	background: #656565;
	border-top: 2px solid #868686;
	border-bottom: 2px solid #868686;
	padding: 10px;
	margin: 0px;
}
.addapps-popup ul li span{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 0 10px;
}
.addapps-popup ul li span:first-child,
.addapps-popup ul li span:last-child{
	width: 10%;
	text-align: center;
}
.addapps-popup ul li span label{
	display: block;
}
.addapps-popup ul li span strong{
	color:#fff;
	font-family: helveticaneuecon;
	font-size: 1.3em;
	font-weight: normal;
}
.remove-icon{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
	display: block;
    border-radius: 51px;
    display: block;
    font-size: 4.2em;
    height: 65px;
    line-height: 53px;
    padding: 0;
    text-align: center;
    width: 67px;  
    text-align: center;
	border-radius: 51px 51px 51px 51px;
	-moz-border-radius: 51px 51px 51px 51px;
	-webkit-border-radius: 51px 51px 51px 51px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	-moz-box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	cursor: pointer;
	float: left;
	margin:20px;
}
.tire-select{
	width: 98%;
}
.break-select{
	width: 100%;
}
/************************** ----- LOG BOOK end here ----- ***************************/
/************************** ----- setting satrt here ----- ***************************/
.setting-page{
	padding: 20px 50px;
}
.setting-page .app-section-listok{
	padding: 0px;
	margin: 10px 0;
}
.setting-page .app-section-listok li{
	border: 1px solid #131313;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	float: left;
	padding: 0px;
	margin: 0 15px 0 0;
}
.setting-page .app-section-listok li aside{
	border: 1px solid #161616;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: #1e1e1e;
	min-width: 71px;
	min-height: 98px;
	 padding: 10px 0;
    min-height: 74px;
    min-width: 74px;
    position: relative;
 }
.setting-page .app-section-listok .addApp{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
	display: block;
    border-radius: 51px;
    display: block;
    font-size: 3em;
    height: 24px;
    margin: 10px auto;
    padding: 8px 0;
    text-align: center;
    width: 41px;
	border-radius: 51px 51px 51px 51px;
	-moz-border-radius: 51px 51px 51px 51px;
	-webkit-border-radius: 51px 51px 51px 51px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	-moz-box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
.setting-page .app-section-listok .app-delete{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 88%) repeat scroll 0 0%, -moz-linear-gradient(center top , #f8e78f 0%, #f8c410 61%, #f8c410 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,236,185,1)), color-stop(61%,rgba(247,206,0,1)), color-stop(100%,rgba(247,206,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,236,185,1) 0%,rgba(247,206,0,1) 61%,rgba(247,206,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecb9', endColorstr='#f7ce00',GradientType=0 ); /* IE6-8 */
	display: block;
    border-radius: 51px;
    display: block;
    font-size: 1.2em;
    height: 13px;
    padding: 3px 0 8px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 25px;
    text-align: center;
	border-radius: 51px 51px 51px 51px;
	-moz-border-radius: 51px 51px 51px 51px;
	-webkit-border-radius: 51px 51px 51px 51px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	-moz-box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	cursor: pointer;
}
.setting-page .app-section-listok li aside label{
	display: block;
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.setting-page .app-section-listok li aside label a{
	color: #83bdc9;
}
.setting-page .app-section-listok li aside label.label-yellow{
	color: #fed500;
}
.setting-page .app-section-listok li aside label.label-yellow a{
	color: #fed500;
}
.app-icon{
	display: block;
	text-align: center;
}
.app-icon img{
	width: 63%;
}
.cluster-content{
	padding: 10px 0;
}
.cluster-content h2{
	padding: 5px 0;
}
.cluster-left-col{
	background-color: #000;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.cluster-left-col h2{
	background: #ffd600;
	border-radius: 5px 5px 0 0 ;
	-moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius: 5px 5px 0 0 ;
	color: #000;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0;
}
.cluster-left-col .fullscreen ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.cluster-left-col .fullscreen ul li{
	float: left;
	width: 26%;
	background: #080808;
	margin:10px 10px;
}
.clustor-icon{
	 margin-left: -41px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}
.cluster-left-col .mapsbar{
	background: #080808;
	min-height: 360px;
	float: right;
}
.cluster-left-col .mapsbar h2{
	border-radius: 0px;
	margin-top: 10px;
}
.cluster-left-col .mapsbar ul{
	margin: 0px;
	padding: 0px;
	float:left;
	width:100%;
}
.cluster-left-col .mapsbar ul li{
	margin:10px 0;
	display: block;
}
.app-customize h4{
	color: #858384;
	text-align: center;
	font-size: 1.2em;
	font-family: helveticaneuecon;
	padding: 5px 0;
}
ul.customize-list{
	padding: 0px;
	margin: 10px 0 0 10px;
}
ul.customize-list li{
	width: 22%;
	height: 90px;
	background: #161415;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin: 4px;
	box-shadow: inset 0 0 20px #000;
	-moz-box-shadow: inset 0 0 20px #000;
	-webkit-box-shadow: inset 0 0 20px #000;
	padding: 0px;
	border: 1px solid #161616;
	padding: 2px;
}
ul.customize-list li aside{
	width: 100%;
	height: 90px;
	background: none repeat scroll 0 0 #ffd600;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.customize-list li aside label,
ul.customize-list li aside span{
	display: block;
	text-align: center;
}
ul.customize-list li aside label{
	padding: 10px 0 5px 0;
}
.app-customize  ul.customize-list li{
	padding: 0px;
}
.mapsbar ul.customize-list li{
	display: block;
    float: none;
    margin: 10px auto;
    width: 90%;
}
.app-customize-btn{
	padding: 10px 0;
}
.app-customize-btn input{
	margin-right: 10px;
}
#sortable1 li, #sortable2 li, #sortable3 li {
    cursor: move;
}
#sortable1{
	min-height: 393px;
}
ul.ui-sortable-helper li { width:100% !important; }
/************************** ----- setting end here ----- ***************************/
/************************** ----- Car Doctor start here ----- ***************************/
.cardoctor { margin:0 auto; overflow:hidden; max-width:1200px; }
.cardoctor>div { width:50%; float:left; box-sizing:border-box; border-radius:25px; overflow:hidden; border:10px solid #000; background:#fff; }
	.cardoctor h3{ border-bottom: 1px solid #9fa138; font-size:3.2em;	color:#000; padding:10px 20px; position:relative; z-index:1;
		background: rgb(229,230,149); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(229,230,149,1) 0%, rgba(210,212,97,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,230,149,1)), color-stop(100%,rgba(210,212,97,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(229,230,149,1) 0%,rgba(210,212,97,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(229,230,149,1) 0%,rgba(210,212,97,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(229,230,149,1) 0%,rgba(210,212,97,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(229,230,149,1) 0%,rgba(210,212,97,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e695', endColorstr='#d2d461',GradientType=0 ); /* IE6-9 */
	}
	.cardoctor nav { position:relative; z-index:1;	}
		.cardoctor nav ol { margin:0; font-size:2.3em; padding:0 0 0 2.5em;	}
			.cardoctor nav li { list-style:decimal; margin:0; padding:0; cursor:pointer; }
				.cardoctor nav li>div { border-top:1px solid #aaa; font-size:0.6em; margin-left:-5em; line-height:1.5em; }
					.cardoctor nav li>div>div { padding:0.5em 0.5em 0.5em 4.5em; }
				.cardoctor nav li:first-child div { border-top:0; }
				.cardoctor nav h4 { font-weight:normal; font-size:1.6em;}
				.cardoctor nav img { float:right; margin:0.25em 0.5em 0; }
				.cardoctor nav li div+div { display:none; border-top:none; }
					.cardoctor nav ul { font-size:0.75em; padding:0 10px 5px 82px; list-style:none;  }
						.cardoctor nav ul li { list-style:none; margin:20px 0 0;  }
							.cardoctor nav ul h5 { font-size:1.5em; font-weight:normal; margin-bottom:15px; }
							.cardoctor nav ul ul { font-size:0.9em; padding:0 0 0 40px; list-style:disc;  }
								.cardoctor nav ul ul li { list-style:disc; margin:0; }
	.solutions { -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2); box-shadow: 10px 10px 10px 10px rgba(0,0,0,1); height:100%; box-sizing:border-box; overflow-y:auto;	}
		.solutions section { background:#cfd3a7; position:relative; min-height:80px;	}
			.solutions section ul { clear:both; padding:0; margin:0;}
			.solutions section ul.second, .solutions section.second>ul { display:none; }
			.solutions section.second ul.second { display:block; }
				.solutions section li { padding:15px; margin:0; overflow:hidden; border-top:1px solid #eaedd2; font-size:1.3em; }	
				.solutions section li:first-child { border:0; }	
				.solutions section li.lidetails { border:0; }	
				.solutions h5 { font-size:1.6em; font-weight:normal; margin:10px 0; }
				.solutions a { color:#417b02; font-size:1.5em; }
				.solutions strong { float:left; position:relative; background:#f3f5df; border-radius:15px; width:110px; margin:10px 5px 10px 0; padding:5px 10px; font-size:1.1em; }
				.solutions strong:before { content:''; position:absolute; z-index:1; width:85px; height:12px; left:35px; top:6px; background:url(../images/cardoctor_reviewOFF.png); }
				.solutions strong:after { content:''; position:absolute; z-index:2; min-width:inherit; height:12px; left:35px; top:6px; background:url(../images/cardoctor_review.png); }
				.solutions span { color:#03577e; font-size:1.1em; line-height:3.1em; }
				.solutions div { float:right; background:#f3f5df; position:relative; padding:15px 5px 5px 20px; width:50%; font-size:1.5em; margin-left:20px; }
				.solutions div:before { content:''; position:absolute; width:37px; height:46px; left:-15px; top:-5px; background:url(../images/cardoctor_mapicon.png); }
				.solutions div:after { content:''; position:absolute; left:0; bottom:0; background:inherit; border-top:10px solid #f3f5df; border-left:20px solid #cfd3a7; }
					.solutions div p { padding:0 0 10px; line-height:1em; }
					.solutions div a { float:right; background:url(../images/cardoctor_phoneicon.gif); width:27px; height:27px; margin:10px 0 0 10px; }
					.solutions section li li { border:0; padding:0; list-style:disc inside; margin:0; font-size:1em; }	
.car_footer { height:77px; margin:20px auto; position:relative; max-width:1200px;z-index:4;}
	.car_footer  span { position:absolute; right:15px; top:27px; width:200px; }
/************************** ----- Car Doctor end here ----- ***************************/
/************************** ----- MEADIA QUERY start here ----- ***************************/
@media screen and (max-width: 768px) {
	#maincntr #innerwrap #cntricons  .notif {
		width: 40%;
	}
	#maincntr #innerwrap #cntricons  .notif h5{
		top: -31px;
		font-size: 17px;
		padding: 2% 0px;
	} 
}
/************************** ----- MEADIA QUERY max-width: 768px end here ----- ***************************/
/************************** ----- MEADIA QUERY max-width: 980px start here ----- ***************************/
@media screen and (max-width: 980px) {
	.inner-containerBox{
		padding: 0px;
	}
	.percentage {
	    left: 18px;
   		position: absolute;
    	top: 63px;
	}
	.percentage-txt{
		left: 18px;
   		position: absolute;
    	top: 63px;
	}
	.chooseInfo{
		padding: 20px 0;
	}
	.log-blackBox .col-2{
		text-align: right;
	}
	.tire-column .col-1 {
	    margin: 10px;
	    min-width: 130px;
	}
	ul.customize-list li{
		width: 28%;
	}
	.cluster-left-col .fullscreen ul li{
		margin: 5px;
	}

	.cardoctor .solutions { font-size:0.75em;}
	.solutions section h4 { width:45%; }
	.solutions section h4+h4 { width:55%; }
}

/************************** ----- MEADIA QUERY max-width: 980px end here ----- ***************************/
@media screen and (max-width: 1024px) {
	.col-xs-2{
		width: 25%;
	}
	.col-xs-9{
		width: 62%;
	}
}
/************************** ----- MEADIA QUERY max-width: 1024px end here ----- ***************************/
@media screen and (max-width: 1224px) {
	#maincntr #innerwrap #cntricons  .notif {
		width: 34%;
	}
	#maincntr #innerwrap #cntricons  .notif h5{
		top: -46px;
		font-size: 26px;
		padding: 2% 0px;
	} 
}
/************************** ----- MEADIA QUERY max-width: 1224px end here ----- ***************************/
@media screen and (max-width: 1130px) {
	#maincntr #innerwrap #cntricons  .notif {
		width: 34%;
	}
	#maincntr #innerwrap #cntricons  .notif h5{
		top: -37px;
		font-size: 17px;
	} 
}
/************************** ----- MEADIA QUERY max-width: 1130px end here ----- ***************************/

/************************** ----- MEADIA QUERY end here ----- ***************************/
